<%= render "shared/nav" %>

<p id="notice" style="position: fixed"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-2" style="background-color: #77DD77"></div>
    <div class="col-8">
      <h1 class="display-1 px-4 py-4">Welcome to Lystical</h1>
    </div>
    <div class="col-2" style="background-color: #77DD77"></div>
  </div>
</div>